@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'britanica';
    src: url(./Britanica-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'britanica', 'poppins';
    /* list-style: none; */
    scroll-behavior: smooth;

}
:root{
    --bg-color:white;
    --br-bg-color:#f3ecdc;
    --hover-bg-color:#dac898;
    --cta-color:#f3282feb;
    --input-color:#5d6a63;
    --circle-bg-color:#f7cd5a;
    --navy:#0f153d;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    position: relative;
}
.nav__align{
    /* position: fixed; */
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13vh;
}
header{
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #749a8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}


header .logo {
    width: 15%;
    margin: 0;
}


.nav__list{
    width: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav__list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.nav__list li a{
    text-decoration: none;
    color: #0f153d;
    font-size: 16px;
    font-weight: 500;
}
.nav__list li .active{
    color: var(--cta-color);
}
.nav__list li a:hover{
    color: var(--cta-color);
}
.search{
    width: 15%;
    height: 45%;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #0f153d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 100px;
}
.search input{
    width: 70%;
    height: 75%;
    background-color: transparent;
    outline: none;
    stroke: none;
    border: none;
    color: black;
}
::placeholder{
    color: #0f153dc9;
    font-size: 17px;
    text-align: left;
    font-weight: 500;
    order: 0;
}
 .bx-search{
    color: var(--navy);
    font-size: 18px;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
    order: 1;
}
.bx-search:hover{
    color: #0f153dae;
}

.whatsapp{
    width: 60px;
    height: 60px;
    background-color: var(--cta-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 5%;
    bottom: 15%;
    z-index: 100;
}
.whatsapp:hover{
    background-color: #0f153dc9;
}
.fa-whatsapp{
    font-size: 32px;
    color: white;
}
.bx-menu{
    font-size: 30px;
    color: #0f153d;
    display: none;
}
.bx-menu:hover{
    color: #0f153dae;
    cursor: pointer;
}

.btt{
    width: 40px;
    height: 40px;
    background-color: var(--navy);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}
.btt:hover{
    background-color: #f3282fc6;
}
.bx-chevron-up{
    font-size: 32px;
    color: white;
}



/* ===== FOOTER ===== */


.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin: auto;
}

.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 30px;
  }
 .footer__box .footer__title{
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--navy);
  }
  .footer__box{
    margin-bottom: 2rem;
  }
  .footer__box h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--navy);
}
.footer__box p {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--navy);
}
.footer__box ul {
    list-style: none;
}
 .footer__box  a{
    text-decoration: none;
    color: #0f153d;
    font-size: 18px;
    font-weight: 500;
}
.footer__box  a:hover{
    color: var(--cta-color);
}
  .footer__link{
    display: block;
    width: max-content;
    margin-bottom: 0.5rem;
  }
  .footer__social{
    font-size: 1.5rem;
    margin-right: 1.25;
  }
  .footer__copy{
    padding-top: 3rem;
    font-size: 0.813rem;
    color: var(--navy);
    text-align: center;
  }











  .aboutgobits{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.aboutgobits img{
    width: 40%;
    height: 100%;

}
.aboutgobitstext{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
h1{
    font-weight: 700;
}
.boxdiv{
width: 40%;
height: 2%;
}
.impact{
    width: 100%;
    height: 50vh;
    background-color: white;
    margin-top: 100px;
}
















.fourthpage{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.fourthpagetext{
    width: 34%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    align-content: flex-start;
}
.services{
    width: 60%;
    height: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.innerservices{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service{
width: 30%;
height: 90%;
background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}  
.icon {
    width: 30%;
    margin-left: 20px;
} 
.service .p1{
    font-size: 22px;
    color: black;
    font-family: 'poppins';
    font-weight: 600;
    margin-left: 20px;
    text-transform: capitalize;
}
.service .p2{
    font-size: 13px;
    color: black;
    font-family: 'poppins';
    font-weight: 400;
    margin-left: 20px;
}
.fourthpagetext .p1{
    font-size: 50px;
    color: black;
    font-family: 'poppins';
    font-weight: 700;
    margin-left: 20px;
}
.fourthpagetext .p2{
    font-size: 18px;
    color: black;
    font-family: 'poppins';
    font-weight: 400;
    margin-left: 20px;
}
.view{
    width: 40%;
    height: 8%;
    font-size: 18px;
    color: var(--cta-color);
    font-family: 'poppins';
    font-weight: 400;
    background-color: transparent;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    border: 2px solid var(--cta-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.view:hover{
    background-color: var(--cta-color);
    color: white;
}










/* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */



@media screen and (max-width:1280px) {
    header{
        padding: 14px 2px;
        transition: .9s;
    }
    .nav__list{
        width: 50%;
    }
    .nav__list li a{
        padding: 5px 0;
        margin: 0px 20px;
        font-size: 14px;

    }
    ::placeholder{
        font-size: 15px;
    }
    .search{
        height: 50%;
    }
}











@media screen and (min-width:768px)  and (max-width: 1279px){

    .nav__align{
        height: 10%;
        position: relative;
        position: fixed;
        top: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        z-index: 100;
        background-color: white;
    }
    
       header .logo{
            width: 25%;
        }
        header{
            border: none;
        }
       
        #menu__icon{
            display: block;
            font-size: 40px;
            color: #0f153d;
        }
    
    
        .nav__list li a{
            color: white;
            font-size: 20px;
            margin-top: 10px;
        }

        .nav__list{
            position: absolute;
            top: 100%;
            right: -100%;
            width: 220px;
            height: 250px;
            background-color: var(--navy);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all 0.50s ease;
            padding: 15px 15px;
            display: none;
        }
        ::placeholder{
            font-size: 15px;
        }
        .search{
            display: none;
        }
        .whatsapp{
            width: 90px;
            height: 90px;
            background-color: var(--cta-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 5%;
            bottom: 13%;
            z-index: 100;
        }
        .whatsapp:hover{
            background-color: #0f153dae;
        }
        .fa-whatsapp{
            font-size: 50px;
            color: white;
        }
        .btt{
            width: 50px;
            height: 50px;
            background-color: var(--navy);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 5%;
            bottom: 5%;
            z-index: 100;
        }
        .nav__list li a:hover{
            color: var(--cta-color);
            transform: translateY(5px);
            transform: translateX(7px);
            transition: all 0.50s ease;
        }
        .nav__list li .active{
            color: var(--cta-color);
        }
    .nav__list.open{
        display: block;
        right: 2%;
    }





    .aboutgobits{
        width: 100%;
        height: 1400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 100px;
    }
    .aboutgobits img{
        width: 80%;
        height: 50%;
    
    }
    .aboutgobitstext{
        width: 90%;
        height: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    h1{
        font-weight: 700;
    }
    .boxdiv{
    width: 40%;
    height: 2%;
    }
    .impact{
        width: 100%;
        height: 50vh;
        background-color: white;
        margin-top: 100px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .fourthpage{
        width: 100%;
        height: 1000px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
    .fourthpagetext{
        width: 100%;
        height: 30%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
        align-content: flex-start;
    }
    .services{
        width: 100%;
        height: 67%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .innerservices{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .service{
    width: 30%;
    height: 90%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
    }  
    .icon {
        width: 30%;
        margin-left: 20px;
    } 
    .service .p1{
        font-size: 22px;
        color: black;
        font-family: 'poppins';
        font-weight: 600;
        margin-left: 20px;
        text-transform: capitalize;
    }
    .service .p2{
        font-size: 13px;
        color: black;
        font-family: 'poppins';
        font-weight: 400;
        margin-left: 20px;
    }
    .fourthpagetext .p1{
        font-size: 50px;
        color: black;
        font-family: 'poppins';
        font-weight: 700;
        margin-left: 20px;
    }
    .fourthpagetext .p2{
        font-size: 18px;
        color: black;
        font-family: 'poppins';
        font-weight: 400;
        margin-left: 20px;
    }
    .view{
        width: 25%;
        height: 10%;
        font-size: 18px;
        color: var(--cta-color);
        font-family: 'poppins';
        font-weight: 400;
        background-color: transparent;
        display: flex;
        justify-content:center;
        align-items: center;
        cursor: pointer;
        margin-left: 20px;
        border: 2px solid var(--cta-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        margin-top: 25px;
    
    }
    .view:hover{
        background-color: var(--cta-color);
        color: white;
    }
}














/* SMALL PHONES */ /* SMALL PHONES */
/* SMALL PHONES */ /* SMALL PHONES */
/* SMALL PHONES */ /* SMALL PHONES */

@media screen and (min-width:320px) and (max-width:767px) {

    .nav__align{
        height: 10%;
        position: relative;
        position: fixed;
        top: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        z-index: 100;
        background-color: white;
        /* overflow: hidden; */
        }
        
           header .logo{
                width: 30%;
            }
            header{
                border: none;
            }
       
        #menu__icon{
            display: block;
            font-size: 35px;
        }
    
    
        .nav__list li a{
            color: var(--bg-color);
            font-size: 16px;
            margin-top: 10px;
        }
        .nav__list li .active{
            color: var(--cta-color);
        }
        .nav__list{
            position: absolute;
            top: 100%;
            right: -100%;
            width: 180px;
            height: 210px;
            background-color: var(--navy);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all 0.50s ease;
            padding: 15px 15px;
            display: none;
        }
        ::placeholder{
            font-size: 15px;
        }
        .search{
            display: none;
        }
        .whatsapp{
            width: 60px;
            height: 60px;
            background-color: var(--cta-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 3%;
            bottom: 12%;
            z-index: 100;
        }
        .whatsapp:hover{
            background-color: #0f153dae;
        }
        .fa-whatsapp{
            font-size: 30px;
            color: white;
            margin: 0;
        }
    
        .btt{
            width: 40px;
            height: 40px;
            background-color: var(--navy);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 5%;
            bottom: 5%;
            z-index: 100;
        }
        .nav__list li a:hover{
            color: var(--cta-color);
            transform: translateY(5px);
            transform: translateX(7px);
            transition: all 0.50s ease;
        }
        .nav__list li .active{
            color: var(--cta-color);
        }
        .nav__list.open{
            display: block;
            right: 2%;
        }











        
.aboutgobits{
    width: 100%;
    height: 1800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.aboutgobits img{
    width: 95%;
    height: 30%;

}
.aboutgobitstext{
    width: 90%;
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
h1{
    font-size: 25px;
    font-weight: 700;
}
.boxdiv{
width: 40%;
height: 2%;
}
















.fourthpage{
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    display: none;
}
.fourthpagetext{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    align-content: flex-start;
}
.services{
    width: 100%;
    height: 67%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.innerservices{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service{
width: 30%;
height: 90%;
background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}  
.icon {
    width: 30%;
    margin-left: 20px;
} 
.service .p1{
    font-size: 22px;
    color: black;
    font-family: 'poppins';
    font-weight: 600;
    margin-left: 20px;
    text-transform: capitalize;
}
.service .p2{
    font-size: 13px;
    color: black;
    font-family: 'poppins';
    font-weight: 400;
    margin-left: 20px;
}
.fourthpagetext .p1{
    font-size: 50px;
    color: black;
    font-family: 'poppins';
    font-weight: 700;
    margin-left: 20px;
}
.fourthpagetext .p2{
    font-size: 18px;
    color: black;
    font-family: 'poppins';
    font-weight: 400;
    margin-left: 20px;
}
.view{
    width: 25%;
    height: 10%;
    font-size: 18px;
    color: var(--cta-color);
    font-family: 'poppins';
    font-weight: 400;
    background-color: transparent;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    border: 2px solid var(--cta-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: 25px;

}
.view:hover{
    background-color: var(--cta-color);
    color: white;
}










.footer__box p{
    font-size: 0.7rem;
}

.footer__box .footer__title{
    font-size: 17px;
}
.footer__box a{
    font-size: 15px;
}

    
    }   
    
    
    
    
    
    
    
    