@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'britanica';
    src: url(./Britanica-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'britanica', 'poppins';
    /* list-style: none; */
    scroll-behavior: smooth;

}
:root{
    --bg-color:white;
    --br-bg-color:#f3ecdc;
    --hover-bg-color:#dac898;
    --cta-color:#f3282feb;
    --input-color:#5d6a63;
    --circle-bg-color:#f7cd5a;
    --navy:#0f153d;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    position: relative;
}
.nav__align{
    /* position: fixed; */
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13vh;
}
header{
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #749a8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}


header .logo {
    width: 15%;
    margin: 0;
}


.nav__list{
    width: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav__list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.nav__list li a{
    text-decoration: none;
    color: #0f153d;
    font-size: 16px;
    font-weight: 500;
}
.nav__list li .active{
    color: var(--cta-color);
}
.nav__list li a:hover{
    color: var(--cta-color);
}
.search{
    width: 15%;
    height: 45%;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #0f153d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 100px;
}
.search input{
    width: 70%;
    height: 75%;
    background-color: transparent;
    outline: none;
    stroke: none;
    border: none;
    color: black;
}
::placeholder{
    color: #0f153dc9;
    font-size: 17px;
    text-align: left;
    font-weight: 500;
    order: 0;
}
 .bx-search{
    color: var(--navy);
    font-size: 18px;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
    order: 1;
}
.bx-search:hover{
    color: #0f153dae;
}

.whatsapp{
    width: 60px;
    height: 60px;
    background-color: var(--cta-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 5%;
    bottom: 15%;
    z-index: 100;
}
.whatsapp:hover{
    background-color: #0f153dc9;
}
.fa-whatsapp{
    font-size: 32px;
    color: white;
}
.bx-menu{
    font-size: 30px;
    color: #0f153d;
    display: none;
}
.bx-menu:hover{
    color: #0f153dae;
    cursor: pointer;
}

.btt{
    width: 40px;
    height: 40px;
    background-color: var(--navy);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}
.btt:hover{
    background-color: #f3282fc6;
}
.bx-chevron-up{
    font-size: 32px;
    color: white;
}



/* Selection nav */ /* Selection nav */
/* Selection nav */ /* Selection nav */


.nav__2{
    width: calc(100% - 200px);
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav__2 .interior{
    width: 15%;
    height: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f153d;
    border-radius: 50px;
}
.nav__2 .interior:hover{

    background-color: var(--cta-color);
}
.interior a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.in1{
   background-color: grey;
}
.in2{
    background-color: rgba(184, 158, 124, 0.909);
}
.in3{
    background-color: gray;
}
.in4{
    background-color: wheat;
}
.in5{
    background-color: gray;
}




/* works */ /* works */
/* works */ /* works */
/* works */ /* works */
.container{
width: 100%;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
}



.sub__con__wrapper{
    width: 80%;
    padding: 0px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 20px;
}


.sub__con{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;

}

.sub__con__wrapper{
    width: 90%;
    padding: 0px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 20px;
}

.sub__con img{
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 5px;
}

.sub__con h3{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.sub__con p{
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}



/* POPUP */ /* POPUP */
/* POPUP */ /* POPUP */
/* POPUP */ /* POPUP */


.pop__up__con{
    width: 60%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


.image__con{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.image__con img{

    width: 100%;
    height: 30%;

}

.pop__up__content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    position: relative;
}
.pop__up__content h1{
    font-size: 33px;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--cta-color);
}
.pop__up__content p{
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: var(--navy);
}
.pop__up__content h3{
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
    color: var(--cta-color);
}

.input__con{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.input__con .details{
    margin-bottom: 10px;
}
.details input{

    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    stroke: none;
    outline: none;

}
.features input{

    width: 200px;
    height: 70px;
    border: none;
    border-bottom: 1px solid black;
    stroke: none;
    outline: none;

}

.input__con button{

    width: 70px;
    height: 30px;
    background-color: var(--cta-color);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 20px;
    border: none;
    stroke: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.input__con button:hover{

    background-color: #f3282fc6;
}

.bx-x{
    font-size: 40px;
    position: absolute;
    top: 1%;
    right: 1%;
    color: var(--navy);
    cursor: pointer;
}
.bx-x:hover{
    color: red;
}






/* ===== FOOTER ===== */


.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin: auto;
}

.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 30px;
  }
 .footer__box .footer__title{
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--navy);
  }
  .footer__box{
    margin-bottom: 2rem;
  }
  .footer__box h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--navy);
}
.footer__box p {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--navy);
}
.footer__box ul {
    list-style: none;
}
 .footer__box  a{
    text-decoration: none;
    color: #0f153d;
    font-size: 18px;
    font-weight: 500;
}
.footer__box  a:hover{
    color: var(--cta-color);
}
  .footer__link{
    display: block;
    width: max-content;
    margin-bottom: 0.5rem;
  }
  .footer__social{
    font-size: 1.5rem;
    margin-right: 1.25;
  }
  .footer__copy{
    padding-top: 3rem;
    font-size: 0.813rem;
    color: var(--navy);
    text-align: center;
  }




/* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */



@media screen and (max-width:1280px) {
    header{
        padding: 14px 2px;
        transition: .9s;
    }
    .nav__list{
        width: 50%;
    }
    .nav__list li a{
        padding: 5px 0;
        margin: 0px 20px;
        font-size: 14px;

    }
    ::placeholder{
        font-size: 15px;
    }
    .search{
        height: 50%;
    }
}


















@media screen and (min-width:768px)  and (max-width: 1279px){

    .nav__align{
        height: 10%;
        position: relative;
    }
    
       header .logo{
            width: 30%;
        }
       
        #menu__icon{
            display: block;
            font-size: 40px;
            color: #0f153d;
        }
    
    
        .nav__list li a{
            color: white;
            font-size: 20px;
            margin-top: 10px;
        }

        .nav__list{
            position: absolute;
            top: 100%;
            right: -100%;
            width: 220px;
            height: 250px;
            background-color: var(--navy);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all 0.50s ease;
            padding: 15px 15px;
            display: none;
        }
        ::placeholder{
            font-size: 15px;
        }
        .search{
            display: none;
        }
        .whatsapp{
            width: 90px;
            height: 90px;
            background-color: var(--cta-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 5%;
            bottom: 13%;
            z-index: 100;
        }
        .whatsapp:hover{
            background-color: #0f153dae;
        }
        .fa-whatsapp{
            font-size: 50px;
            color: white;
        }
        .btt{
            width: 50px;
            height: 50px;
            background-color: var(--navy);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 5%;
            bottom: 5%;
            z-index: 100;
        }
        .nav__list li a:hover{
            color: var(--cta-color);
            transform: translateY(5px);
            transform: translateX(7px);
            transition: all 0.50s ease;
        }
        .nav__list li .active{
            color: var(--cta-color);
        }
    .nav__list.open{
        display: block;
        right: 2%;
    }


/* Selection nav */ /* Selection nav */
/* Selection nav */ /* Selection nav */


.nav__2{
    width: calc(100% - 40px);
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav__2 .interior{
    width: 14%;
    height: 30%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f153d;
    border-radius: 50px;
}
    .nav__2 .interior:hover{
    
        background-color: var(--navy);
    }
    .interior a{
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: 500;
    }
    
    .in1{
       background-color: grey;
    }
    .in2{
        background-color: rgba(184, 158, 124, 0.909);
    }
    .in3{
        background-color: gray;
    }
    .in4{
        background-color: wheat;
    }
    .in5{
        background-color: gray;
    }



/* works */ /* works */
/* works */ /* works */
/* works */ /* works */
.container{
    width: 100%;
        margin-top: 30px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container h1{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 30px;
        text-align: center;
    }
    
    
    
    .sub__con__wrapper{
        width: 95%;
        padding: 0px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       margin-top: 20px;
    }
    
    
    .sub__con{
        width: 220px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    }
    
    
    .sub__con img{
        width: 100%;
        height: 60%;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .sub__con h3{
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }
    .sub__con p{
        font-size: 12px;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }


    /* POPUP */ /* POPUP */
/* POPUP */ /* POPUP */
/* POPUP */ /* POPUP */


.pop__up__con{
    width: 90%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
visibility: visible;
top: 50%;
transform: translate(-50%, -50%) scale(1);
}

.image__con{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.image__con img{

    width: 100%;
    height: 30%;

}

.pop__up__content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
}
.pop__up__content h1{
    font-size: 33px;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--cta-color);
}
.pop__up__content p{
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: var(--navy);
}
.pop__up__content h3{
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--cta-color);
}

.input__con{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.input__con .details{
    margin-bottom: 10px;
}
.details input{

    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    stroke: none;
    outline: none;

}
.features input{

    width: 200px;
    height: 70px;
    border: none;
    border-bottom: 1px solid black;
    stroke: none;
    outline: none;

}

.input__con button{

    width: 70px;
    height: 30px;
    background-color: var(--cta-color);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 20px;
    border: none;
    stroke: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.input__con button:hover{

    background-color: #f3282fc6;
}
}













/* SMALL PHONES */ /* SMALL PHONES */
/* SMALL PHONES */ /* SMALL PHONES */
/* SMALL PHONES */ /* SMALL PHONES */

@media only screen  and (min-width:320px) and (max-width:767px) {

    .nav__align{
        height: 10%;
        position: relative;
        /* overflow: hidden; */
    }
    
       header .logo{
            width: 30%;
        }
       
        #menu__icon{
            display: block;
            font-size: 35px;
        }
    
    
        .nav__list li a{
            color: var(--bg-color);
            font-size: 16px;
            margin-top: 10px;
        }
        .nav__list li .active{
            color: var(--cta-color);
        }
        .nav__list{
            position: absolute;
            top: 100%;
            right: -100%;
            width: 180px;
            height: 210px;
            background-color: var(--navy);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all 0.50s ease;
            padding: 15px 15px;
            display: none;
        }
        ::placeholder{
            font-size: 15px;
        }
        .search{
            display: none;
        }
        .whatsapp{
            width: 60px;
            height: 60px;
            background-color: var(--cta-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 3%;
            bottom: 12%;
            z-index: 100;
        }
        .whatsapp:hover{
            background-color: #0f153dae;
        }
        .fa-whatsapp{
            font-size: 30px;
            color: white;
            margin: 0;
        }
    
        .btt{
            width: 40px;
            height: 40px;
            background-color: var(--navy);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 5%;
            bottom: 5%;
            z-index: 100;
        }
        .nav__list li a:hover{
            color: var(--cta-color);
            transform: translateY(5px);
            transform: translateX(7px);
            transition: all 0.50s ease;
        }
        .nav__list li .active{
            color: var(--cta-color);
        }
        .nav__list.open{
            display: block;
            right: 2%;
        }





        /* Selection nav */ /* Selection nav */
/* Selection nav */ /* Selection nav */


.nav__2{
    width: calc(100% - 20px);
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav__2 .interior{
    width: 12%;
    height: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f153d;
    border-radius: 50px;
}
    .nav__2 .interior:hover{
    
        background-color: var(--cta-color);
    }
    .interior a{
        text-decoration: none;
        font-size: 8px;
        color: white;
        font-weight: 600;
        text-align: center;
    }
    
    .in1{
       background-color: grey;
    }
    .in2{
        background-color: rgba(184, 158, 124, 0.909);
    }
    .in3{
        background-color: gray;
    }
    .in4{
        background-color: wheat;
    }
    .in5{
        background-color: gray;
    }





    /* works */ /* works */
/* works */ /* works */
/* works */ /* works */
.container{
    width: 100%;
        margin-top: 30px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container h1{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 30px;
        text-align: center;
    }
    
    
    
    .sub__con__wrapper{
        width: 95%;
        padding: 0px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       margin-top: 20px;
    }
    
    
    .sub__con{
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin-bottom: 20px;
    
    }
    
    
    .sub__con img{
        width: 100%;
        height: 60%;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .sub__con h3{
        font-size: 23px;
        font-weight: 800;
        text-align: center;
    }
    .sub__con p{
        font-size: 14px;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }



    




    
    /* POPUP */ /* POPUP */
/* POPUP */ /* POPUP */
/* POPUP */ /* POPUP */


.pop__up__con{
    width: 95%;
    height: 630px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

    
}


.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    }
    

.image__con{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.image__con img{

    width: 30%;
    height: 100%;

}

.pop__up__content{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.pop__up__content h1{
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    color: var(--cta-color);
    margin-left: 10px;
}
.pop__up__content p{
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    color: var(--navy);
    margin-left: 10px;
}
.pop__up__content h3{
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--cta-color);
    margin-left: 10px;
    margin-right: 10px;
}

.input__con{
    margin-top: 30px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.input__con .details{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.details input{

    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    stroke: none;
    outline: none;

}
.features input{

    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    stroke: none;
    outline: none;
    margin-left: 10px;

}

.input__con button{

    width: 70px;
    height: 30px;
    background-color: var(--cta-color);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 20px;
    border: none;
    stroke: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    margin-left: 10px;

}

.input__con button:hover{

    background-color: #f3282fc6;
}
    }





